#primary-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header{
    width:100%;
}

#toggle-nav div{
width: 30px;
padding: 5px;
background: lightblue;
}


main{
    padding: 20px;
    width: 90vw;
    margin: 0px auto;
    /* display: grid; */
    /* grid-template-columns: 2fr 6fr 2fr;
    column-gap: 10px; */
    background: rgb(248, 243, 243);
    font-size: 1.6em;
}

#content{
    background:  rgb(214, 188, 200);
    background:  whitesmoke;
    padding: 30px;
}


#side-nav{
    background:lightblue;
}

#others{
    background: lightblue;
}

.center-text{
    text-align: center;
}

.center-item{
    margin: 0px auto;
    display: block;
}


.hide{
    display: none;
}