main{
    width: 96%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    column-gap: 10px;
    grid-template-rows: 100vh;
    background: rgb(248, 243, 243);
    font-size: 1.5em;
}

#content{
    background: white;
}


#side-nav{
    background: rgb(195, 195, 194);
}